# Database Credentials
SPRING_DATASOURCE_URL=jdbc:postgresql://ep-aged-forest-awhriuwt-pooler.c-12.us-east-1.aws.neon.tech/neondb?sslmode=require
DB_USER=neondb_owner
DB_PASSWORD=YOUR_POSTGRES_PASSWORD

# JWT Secret
JWT_SECRET=cinebook-super-secret-key-minimum-256-bits-long-for-hs256-algorithm

# Third-Party API Keys
GROQ_API_KEY=YOUR_GROQ_API_KEY
TMDB_API_KEY=YOUR_TMDB_API_KEY
RAZORPAY_KEY_ID=rzp_test_YOUR_KEY_ID
RAZORPAY_KEY_SECRET=YOUR_KEY_SECRET
